$primary: #7b4397;
$secondary: #dc2430;
$text-primary: #f7ff00;
$text-secondary: #db36a4;
$font: 'Ubuntu', sans-serif;
$font-size: 16px;
$bg-color: #474653;
$text-color: #eae9f0;
$max-container: 1200px;
$gap: 15px;